.book {
  cursor: pointer;
  text-align: center;
  padding-top: 125px;
}

.delete {
  cursor: pointer;
  margin: 12px;
}

.bookItem {
  height: 250px;
  display: flex;
  justify-content: space-between;
}

buttonAdd {
  margin: 60px;
  padding: 20px;
}

button {
  margin-left: 25px;
}

.fill-remaining-space {
  margin-right: 60px;
}

.example-header-image {
  margin-top: 220px;
}

.a1 {
  display: flex;
  justify-content: space-between;
}



.bookList {
  margin-top: 30px;
}

.example-card {

  margin: 4px
}
