<h1>Good Night</h1>
<h2>Date {{currentDate}}</h2>
<form class="example-container" #nightForm="ngForm" (ngSubmit)="onSubmitNight($event)">

  <mat-form-field class="form-element">
    <mat-label>What did i get done today?</mat-label>
    <textarea matInput name="majorTasks" cols="35" rows="8"  [(ngModel)]="doneToday" required></textarea>
  </mat-form-field>


  <mat-form-field class="form-element">
    <mat-label>What are your core goals(gym, eating, working, relationships)?</mat-label>
    <textarea matInput name="coreGoals" cols="35" rows="8"  [(ngModel)]="coreGoals" required></textarea>
  </mat-form-field>


  <mat-form-field class="form-element">
    <mat-label>What distractions and time waster do i know get in the way of my achieving with my life? </mat-label>
    <textarea matInput name="schedule" cols="35" rows="8"  [(ngModel)]="distractions" required></textarea>
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>What habits are i am going to on improve and how?</mat-label>
    <textarea matInput name="distractions" cols="35" rows="8"  [(ngModel)]="habitsImprovement" required></textarea>
  </mat-form-field>



  <mat-form-field class="form-element">
    <mat-label>What to avoid tomorrow?</mat-label>
    <textarea matInput name="avoid" cols="35" rows="8"  [(ngModel)]="toAvoid" required></textarea>
  </mat-form-field>


  <mat-form-field class="form-element">
    <mat-label>What is the plan for tomorrow?</mat-label>
    <textarea matInput name="avoid" cols="35" rows="8"  [(ngModel)]="planTomorrow" required></textarea>
  </mat-form-field>


  <button mat-raised-button color="primary" [disabled]="!nightForm.valid" type="submit" class="send-button"> Send </button>
</form>
