<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree">
    <!-- use a disabled button to provide padding for tree leaf -->
    <!--    <div>-->
    <!--    <button mat-icon-button disabled></button>-->
    <!--      <p>{{node.name}}</p>-->
    <!--    </div>-->

    <div>
      <h3>
        The objective is to make 100%
      </h3>
    </div>
    <tr class="cell-values-th">
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Timeline</th>
    </tr>
  </mat-tree-node>
  <mat-divider></mat-divider>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="tree">


    <button mat-icon-button matTreeNodeToggle class="button-ok"
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>

      Lose 5kg
    </button>



    <tr class="table-headers">
      <th scope="col">status</th>
      <th scope="col">priority</th>
      <th scope="col">Za'taak</th>
    </tr>

  </mat-tree-node>
</mat-tree>

