.okr-objective{
  display: flex;
  padding-right: 20px;
  width: 100%;
  justify-content: space-between;
}

.okr-objective div{
  font-size: 16px;
  margin-right: 38px;
}

.okr-table{
  display: flex;
  font-size: 16px;
}
.okr-table p{
  margin-left: 25px;
  padding: 0 27px;
}

.okr-headers{
  display: flex;
  padding-left: 20px;
  text-align: center;
  align-items: center;
}
.mat-title-header{
  display: flex;
  text-align: center;
  align-items: center;
}
.okr-headers p{
  font-size: 16px;
  padding: 0 57px;
}

.okr-table-status{
  margin-left: 5px;
  text-align: start;
}
p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.timeline{
  padding-left: 0px;
}
.dog-shit{
  margin-right: -30px;
}

.okr-objective-value{
  padding-right: 32px;
}

.mat-accordion .mat-expansion-panel{
  margin-bottom: 10px;
}
