
<div class="flex-row">
  <mat-sidenav-container class="">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side-content">
      <mat-list role="list" class="side-nav">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
    </mat-sidenav>
    <mat-sidenav-content    [ngClass]="opened ? 'content80vw' : 'content100vw'" class="content">
      <mat-toolbar color="primary" class="flexSpaceBetween">
          <h1 class="fill-remaining-space">Add new book</h1>
      </mat-toolbar>
      <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
      <mat-list role="list" >
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

