.side-nav {
  border: 2px;
  border-style: solid;
  color: black;
  background: beige;
  flex: 0 0 20em;
  height: 100%;
}

.flex-row {
  display: flex;
  height: 100vh;
}

.content100vw {
  width: 92vw;
}

.content80vw {
  width: 70vw;
}

.side-content {
  width: 30vw;
}


.mat-expansion-panel-body {
  padding: 0 !important;
}

.folder-item{
display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
}


/*.mat-list-item-content {*/
/*  !* width: 100%; *!*/
/*  justify-content: space-between;*/
/*}*/

