
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav  mode="side" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
               (mouseleave)="decrease()">
    <mat-nav-list>

              <mat-list-item  *ngFor="let item of iconItems" routerLink={{item.routingLink}} routerLinkActive="active" >
                <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
        <!--        <mat-icon mat-list-icon>person</mat-icon>-->
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                  <h5 class="lead">{{item.title}}</h5>
                </div>
              </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <div class="example-sidenav-content">
     <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>
